// Wanahaa paskaa. Note to self: Uudista viimeistään vuonna 2023
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,300,700');
@import 'jeet/scss/jeet/index';

body {
  background: #fafbfb;
  font-family: 'Oxygen';
  font-size: 1.2em;
  color: #444;
  margin: 40px 0;
}

a,
a:link,
a:visited {
  color: #7f8c8d;
  text-decoration: none;
}

a:hover {
  color: lighten(#34495e, 50%);
}

.esittely {
  font-weight: 300;
  display: block;
  margin: 0 0 50px;
  clear: both;

  h4 {
    font-size: 1em;
    font-weight: 300;
    margin: 0;
  }

  h1 {
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 10px;

    span {
      color: #27ae60;
      font-weight: 600;
    }
  }
}

.server {
  color: #6ca434;
}

.mato {
  color: #2980b9;
}

.nplogo {
  float: right;
  zoom: 1;
  opacity: .4;
  margin: -11px 15px 15px;
  padding: 0;

  &.ircnote {
    margin: -40px 15px 15px;
  }
}

.opacity {
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: .8;
}

.opacity:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}

.services {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: .5;
  margin: 50px auto;
  max-width: 817px;
  overflow: hidden;
  clear: both;
  display: block;

  img {
    height: 50px;
    width: auto;
    margin: 0 20px 0 0;

    &:last-child {
      margin: 0;
    }
  }
}

.console-wrap {
  position: relative;
  font-family: 'Monaco', 'Courier New', monospace;
  overflow: hidden;

  .icon-console-controls {
    position: absolute;
    top: 8px;
    left: 15px;
  }
}

.terminal2 {
  margin-top: 50px;
}

.terminal3 {
  margin-top: 50px;

  iframe {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 700px) {
  code.adminlabs iframe,
  .terminal3 iframe {
    min-height: 265px;
  }

  .terminal3 .console-chrome {
    height: 250px;
    overflow: hidden;
  }
}

.log {
  display: block;
  word-break: normal;
  word-wrap: normal;
  margin: 20px;
  padding: 10px;
  color: #444;
  background: rgb(243, 243, 243);
  overflow: hidden;
  font-family: 'Oxygen';

  &.sysmon {
    font-family: 'Monaco', 'Courier New', monospace;
  }

  a {
    color: #666;
    border-bottom: 1px dotted #888;

    &:link,
    &:visited {
      color: #666;
      border-bottom: 1px dotted #888;
    }

    &:hover {
      border-bottom: 1px dotted rgb(243, 243, 243);
    }
  }

  br:last-of-type {
    display: none !important;
  }
}

.icon-console-controls {
  display: inline-block;
  vertical-align: text-top;
  background-repeat: no-repeat;
  width: 46px;
  height: 12px;
  background-image: url('../images/console-icons.png');
  background-position: center center;
}

.console-chrome {
  border: 15px solid #4c4c4c;
  border-top: 30px solid #4c4c4c;
  border-radius: none;
  overflow: hidden;
}

.tapahtumat {
  margin-bottom: 50px;
  overflow: hidden;
}

.itemRow {
  overflow: hidden;
  clear: both;
}

#np {
  overflow: hidden;
  background: #f1f1f1;

  img.album {
    float: left;
    margin: 0 20px 0 0;
  }

  .lastFMBody {
    overflow: hidden;
  }
}

.ircnote a {
  color: #000;
  font-weight: 600;
}

#irc {
  background: #7f8c8d;
  color: #fff;
}

blockquote {
  margin: 0;
  padding: 50px;
  font-size: 1.7em;
  quotes: '\201C''\201D''\2018''\2019';
  text-align: center;
}

blockquote:before {
  content: open-quote;
  font-family: 'Georgia';
  font-size: 4em;
  line-height: .1em;
  margin-right: .15em;
  vertical-align: -.45em;
}

@media (max-width: 768px) {
  blockquote {
    font-size: 1em;
  }
}

.event {
  background: #e0e0e0;
  border: 0;
}

@media (min-width: 500px) {
  #np {
    height: 126px;
    max-height: 126px;
  }
}

#trakt {
  overflow: hidden;
  background: #e0e0e0;
}

.trakt {
  overflow: hidden;
  clear: both;
}

.traktposter,
.albumwrap {
  height: 126px;
  width: 126px;
  float: left;
  margin: 0 20px 0 0;
  overflow: hidden;
}

.lastfmlogo {
  float: right;
  zoom: 1;
  filter: alpha(opacity=80);
  opacity: .8;
}

.traktposter img,
.album {
  width: 100%;
  height: auto;
}

.item {
  padding: 30px 0 10px 20px;
  font-size: 1.2em;
  margin: 0;
  font-weight: 300;
  white-space: nowrap;
}

.item2 {
  white-space: nowrap;
  margin: 0;
  font-size: .8em;
  padding: 0 0 0 20px;
  color: #444;
  font-weight: 300;

  a {
    color: #222;
  }
}

@keyframes blink {
  0% {
    visibility: visible;
  }

  100% {
    visibility: hidden;
  }
}

.cursor {
  background: #666;
  display: inline-block;
  width: 11px;
  height: 19px;
  margin-bottom: -3px;
  animation: blink 1s steps(2, start) infinite;
}

.version {
  filter: grayscale(100%);
}

.suse,
.susemini,
.centosmini {
  filter: brightness(0%);
}

a.susemini,
a:link.susemini,
a:visited.susemini,
.susemini {
  background: url('../images/susemini.png') no-repeat 1px 5px;
  margin: 0 5px;
  height: auto;
  padding: 0 0 0 42px;
  color: #6eb927;
}

a.centosmini,
a:link.centosmini,
a:visited.centosmini,
.centosmini {
  background: url('../images/centosmini.png') no-repeat 1px 2px;
  margin: 0 5px;
  height: auto;
  padding: 0 0 4px 31px;
  color: #efa724;
}

a.fedoramini,
a:link.fedoramini,
a:visited.fedoramini,
.fedoramini {
  background: url('../svg/fedora.svg') no-repeat 1px 2px;
  background-size: 25px 25px;
  margin: 0 5px;
  height: auto;
  padding: 0 0 4px 31px;
  color: #274072;
}

a.susemini:hover,
.version:hover,
a.centosmini:hover {
  filter: none;
}

a.suse,
a:link.suse,
a:visited.suse,
.suse {
  background: url('../images/suse.png') no-repeat 0 0;
  width: 100px;
  height: 90px;
  padding: 0 0 0 200px;
  display: block;
  font-size: 3em;
  color: #6eb927;
  margin: 40px auto 0;
}

.center {
  text-align: center;
}

// Sysmon
#container,
#container > div {
  float: left;
}

#cpu {
  clear: left;
}

#mem {
  margin-bottom: 30px;
}

#virt,
#swap {
  white-space: pre;
}

#cpu_time_legend,
#cpu_time_values,
#cpu_time_bars,
#io_legend,
#io_values {
  white-space: pre;
  float: left;
}

#cpu_times {
  overflow: hidden;
  margin-bottom: 30px;
}

#cpu_time_values,
#io_values {
  padding: 0 20px;
}

.cpu {
  white-space: pre;
  border-bottom: 1px solid #666;
  margin: 30px 0;
}

.cpu:first-of-type {
  border-top: 0;
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(.9);
  }

  50% {
    transform: scale(.2);
  }

  75% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes shrinktwo {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(.9);
  }

  50% {
    transform: scale(.9);
  }

  75% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

#wrapper {
  position: relative;
  max-width: 940px;
  width: 100%;
  margin: 50px auto;
  color: #222;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}

// Cool kitten grid
.grid_1 {
  width: 6.5%;
}

.grid_2 {
  width: 15%;
}

.grid_3 {
  width: 23.5%;
}

.grid_4 {
  width: 32%;
}

.grid_5 {
  width: 40.5%;
}

.grid_6 {
  width: 49%;
}

.grid_7 {
  width: 57.5%;
}

.grid_8 {
  width: 66%;
}

.grid_9 {
  width: 74.5%;
}

.grid_10 {
  width: 83%;
}

.grid_11 {
  width: 91.5%;
}

.grid_12 {
  width: 100%;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
  display: block;
  float: left;
  margin: 0 2% 1% 0;
}

.alpha {
  margin-left: 0;
}

.omega {
  margin-right: 0;
}

.container {
  margin: auto;
  max-width: 1000px;
  width: 90%;
}

.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
}

@media screen and (max-width: 480px) {
  .grid_1,
  .grid_2,
  .grid_3,
  .grid_4,
  .grid_5,
  .grid_6,
  .grid_7,
  .grid_8,
  .grid_9,
  .grid_10,
  .grid_11,
  .grid_12 {
    width: 100%;
  }
}

// Grid ends
@media (max-width: 768px) {
  .services {
    width: 100%;
    max-width: 100%;
  }

  .services img,
  .services img:last-child {
    float: none;
    text-align: center;
    margin: 60px auto;
    clear: both;
    display: block;
    height: 100px;
  }

  body {
    padding: 0 20px;
  }
}

@media (max-width: 500px) {
  #np img.album,
  .traktposter,
  .albumwrap {
    width: 100%;
    height: auto;
    clear: both;
    margin-bottom: 20px;
  }

  .item2 {
    margin-bottom: 30px;
  }

  .nplogo {
    clear: both;
    float: none;
    margin: 20px;
    display: block;
  }
}

// New terminal:
.browser-window {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;

  iframe {
    width: 100%;
    height: 100%;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  .top-bar {
    height: 30px;
    border-radius: 4px 4px 0 0;
    border-top: thin solid #eaeae9;
    border-bottom: thin solid #dfdfde;
    background: #ebebeb;

    .circles {
      margin: 1px 10px;

      .circle {
        height: 12px;
        width: 12px;
        display: inline-block;
        border-radius: 50%;
        background-color: #fff;

        &.circle-red {
          background-color: #e74c3c;
        }

        &.circle-yellow {
          background-color: #f1c40f;
        }

        &.circle-green {
          background-color: #27ae60;
        }
      }
    }
  }

  .window-content {
    overflow: hidden;
    margin: 0;
    width: 100%;
    min-height: 90%;
    display: inline-block;
    border-radius: 0 0 4px 4px;

    .code {
      background-color: #363636;
      border-radius: 0;
      padding: 1em;
      box-shadow: 0 1px 1px rgba(#000, .125);
      margin: 0;
      color: #f8f8f2;
      text-shadow: 0 1px rgba(#000, .3);
      font-family: Consolas, Monaco, 'Andale Mono', monospace;
      direction: ltr;
      text-align: left;
      line-height: 1.5;

      &.adminlabs {
        background: none;
        margin: 0;
        padding: 0;
        border-left: 1px solid #dfdfde;
        border-right: 1px solid #dfdfde;
        border-bottom: 1px solid #dfdfde;
        height: 185px;
        overflow: hidden;

        iframe {
          overflow: hidden;
        }
      }
    }
  }
}

.powered-by {
  text-align: center;

  h4 {
    font-size: 14px;
    font-weight: bold;
    color: #999;
    opacity: .8;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .cols {
    overflow: hidden;
    margin-top: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    .col {
      @include col(1/2);
      position: relative;

      &:nth-child(2) {
        &:before {
          content: '+';
          position: absolute;
          left: 0;
          font-size: 33px;
          top: 10px;
          color: #999;
        }
      }

      a {
        &.telia {
          svg {
            min-width: 255px;
            position: relative;
            top: -9px;
            left: -20px;
            height: 70px;
          }
        }
      }

      svg {
        height: 60px;
        width: auto;
        fill: #999;

        &.tomato {
          fill: #999;
          margin-left: -10px;

          path {
            fill: #999;

            &:hover {
              fill: #e74c3c;
            }
          }

          &:hover {
            fill: #e74c3c;

            path {
              fill: #e74c3c;
            }
          }
        }

        &.sonera {
          fill: #999;

          &:hover {
            fill: #732d88;
          }
        }
      }
    }
  }
}
